<div class="banner">
  <div>
    <h1><strong>Welcome to ARTbnb</strong></h1>
    <h5>Where creatvity checks-in</h5>
  </div>
</div>

<div class="line"></div>
<div class="artwork-list">
  <% @artworks.each do |artwork| %>
    <%= link_to artwork_path(artwork) do %>
    <div class="artwork-card">
      <% if !artwork.image.nil? %>
        <img src="<%= artwork.image %>" alt="<%= artwork.title %> Image">
      <% end %>

    </div>
    <% end %>
  <% end %>
</div>

<!-- card to be repeated in line with styling, have limited images to the first 10 in c ontroller -->
