<h1>All Artworks</h1>

<div class="artwork-list">
  <% @artworks.each do |artwork| %>
    <div class="artwork-card">
      <% if artwork.image %>
        <img src="<%= artwork.image %>" alt="<%= artwork.title %> Image"> <!-- still need to add image -->
      <% end %>
      <p><%= artwork.title %></p>

    </div>
  <% end %>
</div>

<!-- card to be repeated in line with styling, have limited images to the first 10 in c ontroller -->
