<h1>All Artworks</h1>

<div class="artwork-list">
  <% @artworks.each do |artwork| %>
    <div class="artwork-card">
      <img src="<%= artwork.image_url %>" alt="<%= artwork.name %> Image">
      <p><%= artwork.name %></p>
    </div>
  <% end %>
</div>
