<div class="container">
  <h1>New Booking Request</h1>

  <%= render 'form' %>

  <div id="button">
    <%= link_to artwork_path(@artwork) do %>
      <button type="button" class="btn btn-dark">Back</button>
    <% end %>
  </div>
</div>
