.navbar-lewagon {
  justify-content: space-between;
  background: white;
  position: sticky;
  top: 0;

  .navbar-toggler {
    position: absolute;
    right: 0px;
    top: 0px;
    margin-top: .5rem;
    margin-right: 1rem;
  }

  .nav-item {
    text-decoration: none;
    color: black;
  }

  .navbar-nav{
    display: flex;
    justify-content: center;
  }

  .collapse{
    align-items: right;
  }
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

#logo {
  width:10%;
}
